<footer class='page-footer white'>
    <div class='footer-copyright white'>
        <div class='container center'>
            <p style='color:gray'>Inform Navigate Serve Post Invest Reach Educate © </p>
        </div>
    </div>
</footer>