<div class="navbar-fixed">
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper gray-text container" style="color: gray;">
            <ul class="right">
                <li>
                    <a href="#">Write</a>
                </li>
                <li>
                    <a href="#">Read</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>