<header class='top-nav'>
    <div class='navbar-fixed'>
        <nav class='transparent z-depth-0'>
            <div class='nav-wrapper gray-text container'>
                <ul class='right'>
                    <li>
                        <a href='#'>Write</a>
                    </li>
                    <li>
                        <a href='#'>Read</a>
                    </li>
                    <li>
                        <a href='#'>About Us
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
