<header class="top-nav">
    <div class="navbar-fixed">
        <nav class="transparent z-depth-0">
            <div class="nav-wrapper gray-text container">
                <ul class="">
                    <li>
                        <a href="/" style="color: #ffee58; font-family:  'Source Sans Pro' , sans-serif; font-weight: bold; font-size: 2.5em;">INSPIRE</a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="/write">Write</a>
                    </li>
                    <li>
                        <a href="/read">Read</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    {{!--
                    <li>
                        <a href="/auth/google">Log In</a>
                    </li> --}}
                </ul>
            </div>
        </nav>
    </div>
</header>