<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inspire</title>
    {{!-- Materialize --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css"> 
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Slabo+27px|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    {{!-- Favicon --}}
    <link rel="shortcut icon" type="assets/image/png" href="/images/fav.png"> 
    {{!-- CSS File --}}
    <link rel="stylesheet" href="/styles/style.css"/>
</head>

<body>
    {{{ body }}}
</body>

{{!-- jQuery CDN --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
{{!-- Materialize --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
{{!-- JavaScript --}}
<script src="/js/index.js"></script>

</html>