{{> navbar}}

<div class="container">
    <h1 style="font-family: 'Slabo 27px', serif; color: #ffee58" class="center">About Us</h1>
    <br>
    <p style="font-family: 'Open Sans Condensed', sans-serif; color: gray; font-size: 1.5em; text-align = justify">
        Inspire resulted from a desire to "do good" and to "be impactful". Often, technology is built to benefit us as individuals.
        Sure we have apps that can help us find dates, book cheap flights, and play pointless games but software can be used
        for so much more. Our goal for Inspire is to use its technology to raise awareness on how people can give back and
        impact the world.
        <br>
        The purpose of Inspire is to allow user the opportunity to create, update, and delete content surrounding information
        about non-profits and charities. Not only do they have the opportunity to create content, they will also be able
        to research and read up on other non-profits of their interest.
    </p>

</div>

{{> footer}}
<br>
<br>
