{{> home-navbar}}

<div class='row'>
    <div class='col m6'>
        <section class='slider'>
            <ul class='slides'>
                <li>
                    <img class='responsive-img home' src='bc.jpeg'>
                </li>
                <li>
                    <img class='responsive-img home' src='syria.jpeg'>
                </li>
                <li>
                    <img class='responsive-img home' src='read.jpg'>
                </li>
                <li>
                    <img class='responsive-img home' src='water1.jpg'>
                </li>
                <li>
                    <img class='responsive-img home' src='venezuela.jpg'>
                </li>
                <li>
                    <img class='responsive-img home' src='fire.jpg'>
                </li>
            </ul>
        </section>
    </div>
    <div class='col m5 center' id='description'>
        <h1 style='color: #ffee58; font-family:  "Source Sans Pro" , sans-serif; font-weight: bold;'>INSPIRE</h1>
        <p style='color: gray;'> write, read and inspire for good</p>
        <i class='material-icons' style='color: #ffee58'>all_inclusive</i>

    </div>
</div>

{{> footer}}