nav ul li a {
  color: gray;
}
  
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
main {
  flex: 1 0 auto;
}
  
.flex {
  display: flex;
  flex-wrap: wrap;
}
  
#description {
  padding: 10em;
}
  
.home {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: auto;
}  